body {
    margin: 1em;
}

.form .adder {
    margin-bottom: 1em;
    margin-top: 1em;
}

div.card {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.results table th {
    margin-right: 10px;
}

.calculate {
    margin: 10px 0px;
}

.disclaimer {
    font-size: small;
    margin-top: 50px;
}
